@use "components";

@mixin section-display {
    width: 100%;
    padding: 3rem;
    max-width: 992px;
    margin: auto;
}

body {
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4rem;
    border-bottom: solid 1px #ddd;
}

.logo a img {
    max-width: 7rem;
}

.sec-home {
    display: flex;
    align-items: center;
    @include section-display();
    .home-cta {
        flex: 1;
        .cta-text {
            color: components.$color-main;
        }

        .home-title {
            width: 20rem;
            font-size: 3rem;
        }
    }
}

.sec-features {
    @include section-display();
    display: flex;
    flex-direction: column;
    align-items: center;
    .intro {
        text-align: center;
        h3 {
            font-size: 1.8rem;
        }

        p {
            font-size: 0.8rem;
            color: #888;
        }
    }

    .features{
        display: flex;
        gap: 1rem;
        align-items: center;
        .text{
            padding: 2rem 0;
            flex: 1;
            .feature{
                display: flex;
                flex-direction: row;
                align-items: center;
                .description{
                    margin-left: 1rem;
                    max-width: 20rem;
                    .description-title{
                        font-size: 1.15rem;
                        text-align: left;
                    }
                    .description-text{
                        font-size: 1rem;
                        text-align: left;
                    }
                }
            }
        }

        .image{
            img{
                max-width: 20rem;
            }
        }
    }
}
